<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./main.css">-->
    <link rel="stylesheet" href="../../../css/main.css"> 
</head>

<body>

    <div id="root">
        esto es un html
        <!-- <main>
            <div class="container-pdf">
                <div class="pdf-header">
                    <div>
                         <img class="pdf__logo" src="./logo-pdf.jpg" alt="Logo First Class"> 
                        </div>
                    <div>
                        <p><b>FIRST CLASS</b></p>
                        <p>Tipo Evento: Bautizo</p>
                        <p>Fecha: 11 de 03 del 2022</p>
                        <p>Lugar: Salon</p>
                        <p>Catidad Personas: </p>
                    </div>
                </div>
                <div class="pdf-table">
                    <p><b>Encargado</b></p>
                    <div>
                        <p>Daniel Hernandez Talla</p>
                        <p>$ 600</p>
                        <hr>
                    </div>
                </div>
                <div class="pdf-table">
                    <p><b>Mesero</b></p>
                    <div>
                        <p>Daniel Hernandez Talla</p>
                        <p>$ 400</p>
                        <hr>
                    </div>
                    <div>
                        <p>Brianda Raquel Campoy Esquer</p>
                        <p>$ 400</p>
                        <hr>
                    </div>
                    <div>
                        <p>Emiliano Salido del Pozo</p>
                        <p>$ 400</p>
                        <hr>
                    </div>
                </div>
                <div class="pdf-table">
                    <p><b>Cristaleria</b></p>
                    <div>
                        <p>Rafael Nieto de Dios</p>
                        <p>$ 300</p>
                        <hr>
                    </div>
                </div>
                <div class="pdf-table">
                    <p><b>Baños</b></p>
                    <div>
                        <p>Emiliano Salido del Pozo</p>
                        <p>$ 200</p>
                        <hr>
                    </div>
                </div>
                <div class="pdf-table">
                    <div>
                        <p class="pdf-total">Total</p>
                        <p>$ 2300</p>
                    </div>
                </div>
            </div> 
        </main> -->
    </div>

    <script src="documentos.window.js"></script>

</body>

</html>