.section-header {
    position: relative;
    margin-top: 48px;
}

.header__img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    filter: brightness(.9);
}

.header__container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    display: flex;
    align-items: center;
}

.header__text {
    margin-left: 64px;
    color: white;
    font-size: 5.4rem;
    font-weight: bold;
    line-height: 80%;
}

.header__text span:first-child {
    font-family: 'Oleo Script', cursive;
    font-weight: normal;
}

.header__text span:last-child {
    padding-left: 20%;
}

.section-home {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.btn__home {
    /* width: 200px; */
    /* height: 250px; */
    min-width: 100px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--main-color);
    text-align: center;
    font-size: 18px;
}

.btn__home-img {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;
    margin-bottom: 32px;
}

@media (min-width: 992px) {
    .header__text {
        margin-left: 0px;
    }

    .section-home {
        grid-auto-rows: minmax(30vh, 300px);

    }

    @media (max-width: 992px) {
        .bi-home {
            font-size: 6em;
        }
    }

    @media (max-width: 768px) {
        .bi-home {
            font-size: 4em;
        }
    }
}
